.wrapper_card_vehicle{
        display: flex;
        flex-direction: column;
        flex: 1;

    }
.wrapper_card_title{
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    padding-bottom: 5px;
   
}
.wrapper_card_tile_icon_car{
    font-size: 25px;
}
.wrapper_card_title_text{
    margin:0px 10px;
}
.wrapper_card_tile_icon_chevron{
   right: 0px;
   position: absolute;
   top: 5px;
}
.wrapper_card_description{
    display: none;
    padding: 5px;
    transition: all 1s ease-in-out;
    font-size: 14px;
    gap: 5px;
}
.isOpen{
    display: flex;
    flex-wrap: wrap;
    transition: all 1s ease-in;
}